<div>
    <app-navbar></app-navbar>

    <!-- Contáctanos -->
    <section class="contact-section justify-content-center">
        <h2 class="contact-title text-center">CONTÁCTANOS</h2>

        <div class="contact-content">
            <div class="contact-grid">
                <div class="contact-card">
                    <i class="pi pi-whatsapp contact-icon"></i>
                    <p class="contact-main">+593 95 978 8833</p>
                </div>

                <div class="contact-card">
                    <i class="pi pi-map-marker contact-icon"></i>
                    <p class="contact-main">Urdesa Central</p>
                    <p class="contact-sub">
                        Av. Las Aguas 1111<br />
                        entre Jiguas y Laureles
                    </p>
                </div>

                <div class="contact-card">
                    <i class="pi pi-envelope contact-icon"></i>
                    <p class="contact-main">info&#64;telearseg.net</p>
                </div>
            </div>

        </div>
    </section>

    <section class="business-hours" aria-labelledby="business-hours-title">
        <div class="business-hours__inner flex justify-content-between">
            <h2 id="business-hours-title" class="business-hours__title">
                Horarios de<br />atención
            </h2>

            <div class="business-hours__schedule">
                <h3>LUNES a VIERNES</h3>

                <div class="business-hours__times">
                    <div class="business-hours__time">8 AM - 12 PM</div>
                    <div class="business-hours__time">2 PM - 6 PM</div>
                </div>
            </div>
        </div>
    </section>

    <iframe 
        class="h-iframe"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d996.7450432927678!2d-79.91439735827123!3d-2.1612463560876467!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41d3c8e9f1e2401b%3A0xd2750e3b45f4c143!2sTelearseg%20SAS!5e0!3m2!1ses!2sec!4v1786740017041!5m2!1ses!2sec" 
        width="100%" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="strict-origin-when-cross-origin">
    </iframe>

    <app-footer></app-footer>

</div>
